* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Tinos", sans-serif;
    font-size: 15px;
}

header {
    padding: 20px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
}

.logo img {
    display: inline-block;
}

h1 {
    display: none;
}

.navigation {
    margin: auto 0;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation-item__dropdown {
    position: relative;
}

.navigation-link {
    color: black;
    background-color: white;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Tinos", sans-serif;
    padding: 10px;
    cursor: pointer;
    display: block;
}

.navigation-link:hover {
    color: grey;
}

.dropdown {
    position: absolute;
    z-index: 1;
    display: none;
}

.navigation-item__dropdown:hover .dropdown {
    display: block;
}

main {
    padding: 20px;
    padding-top: 0;
    position: relative;
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.author-photo {
    width: 250px;
    float: left;
}

.author-biography {
    font-size: 18px;
    margin-left: 270px;
}

/* Books */
.text-list, .type-list, .image-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-item, .type-item {
    position: relative;
    padding-left: 250px;
    margin-bottom: 30px;
    
}

.text-year, .type-description {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 30px;
    top: 0;
    color: gray;
}

.text-link {
    color: black;
    font-weight: bold;
}

.text-link[href]:hover {
    color: grey;
}

.text-description {
    margin: 0;
}

.image-type {
    position: relative;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    margin: 0;
    padding: 0;
    display: block;
}

.image-button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
}

.image-button:hover {
    border: 1px solid grey;
    cursor: pointer;
}

.image-button img {
    display: block;
    height: 200px;
}

.popup_fade::before {
    content: '';
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.7;
}

.popup {
    display: none;
}

.popup_on {
    position: fixed;
    width: 60%;
    height: 80vh;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 610;

}

.popup-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.popup-close {
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: -40px;
    right: -40px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.popup-close::before, .popup-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #fff;
    top: 5px;
    left: 16px;
}

.popup-close::before {
    transform: rotate(45deg);
}

.popup-close::after {
    transform: rotate(-45deg);
}

.popup-close:hover {
    cursor: pointer;
    border-color: gray;
}

.popup-close:hover::before, .popup-close:hover::after {
    background-color: gray;
}

.memories-item {
    padding-left: 0;
}

.memories-button {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Tinos", sans-serif;
    font-size: 15px;
    padding: 10px 35px 10px 0;
}

.memories-title {
    margin: 0;
    font-size: 25px;
}

.memories-title::before, .memories-title::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 15px;
    border-radius: 5px;
    background-color: #000;
    top: 17px;
}

.memories-title::before {
    transform: rotate(45deg);
    right: 5px;
}

.memories-title::after {
    transform: rotate(-45deg);
    right: 14px;
}

.memories-button:hover .memories-title {
    color: gray;
    text-decoration: underline;
}

.memories-button:hover .memories-title::before, .memories-button:hover .memories-title::after {
    background-color: gray;
}

.memories-author {
    font-style: italic;
    margin-top: 0;
}

.memories-description {
    display: none;
}

.memories-description_on {
    display: block;
}

.memories-description p {
    margin: 0;
    margin-bottom: 5px;
}